<a href="https://colab.research.google.com/github/andradefisio/python_R_Ativ_CInt_EnPes_Ex/blob/main/Lista_exercicios_presen%C3%A7a_Topico07_Resolvida_AntonioAndrade.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

OBSERVAÇÃO IMPORTANTE: TODAS AS ANÁLISES EXPLORATÓRIAS E DESCRITIVAS AQUI EXECUTADAS SÃO APENAS PARA FINS DIDÁTICOS E DE APRENDIZADO APENAS. 

obs.: o download dos dados foi feito direto no site no dia 20/10/2021. 

O nome do arquivo começa com **20211019**, sendo atualizados até o dia 19 de outubro. 

    Obs.: Em alguns momentos, como não completava o upload do conjunto de dados, os valores eram diferentes.

In [ ]:
# Essa cell utiliza o programa `gdown` para copiar um arquivo do meu (Thiago) Google Drive
# para o Google Colab.

# Esse monte de caracteres depois de "--id" são o "identificador do arquivo".
# O nome do arquivo é "20211019_Casos-e-obitos-ESP.csv"

# Esse arquivo foi obtido (2021 - outubro - 19) no site https://www.saopaulo.sp.gov.br/planosp/simi/dados-abertos/
# clicando em "Microdados dos Casos".

# Mais especificamente, o arquivo baixado do website é um .zip, isto é, um arquivo compactado.
# Foi fei a extração do arquivo "20211019_Casos-e-obitos-ESP.csv" e posterior
# upload/exploração nesse exercício.

# Juntamente com os dados, no site há um "dicionário de microdados",

# Link original: https://www.saopaulo.sp.gov.br/wp-content/uploads/2020/07/Dic-dados_microdados.pdf

In [ ]:
import pandas as pd

In [ ]:
# O arquivo, embora seja ".csv", utiliza ";" para separar colunas.
# Precisamos explicitar isso na função `.read_csv`

df = pd.read_csv(filepath_or_buffer='20211019_Casos-e-obitos-ESP.csv',
                 sep=';',
                 header=0,
                 engine='c')

In [ ]:
# Conferindo a "cabeça" do dataframe
df.head(4)

     Genero              Municipio      Asma  ... Data Inicio Sintomas Idade Obito
0  FEMININO  SÃO BERNARDO DO CAMPO  IGNORADO  ...           22/11/2020  43.0   0.0
1  FEMININO  SÃO BERNARDO DO CAMPO  IGNORADO  ...           14/05/2020  37.0   0.0
2  FEMININO              SÃO PAULO  IGNORADO  ...           23/02/2021  28.0   0.0
3  FEMININO                CAJAMAR  IGNORADO  ...           02/07/2021  19.0   0.0

[4 rows x 19 columns]

In [ ]:
# Conferindo a "cauda" do dataframe
df.tail(10)

            Genero            Municipio  ... Idade Obito
4391292   FEMININO              BIRIGUI  ...  21.0     0
4391293   FEMININO         TAQUARITINGA  ...  52.0     0
4391294   FEMININO            GUARULHOS  ...  55.0     0
4391295   FEMININO           COSMÓPOLIS  ...  54.0     0
4391296   FEMININO  RIO GRANDE DA SERRA  ...  56.0     0
4391297   FEMININO            CATANDUVA  ...  67.0     0
4391298   FEMININO              MONÇÕES  ...  56.0     0
4391299   FEMININO           PEDREGULHO  ...  80.0     0
4391300   FEMININO            CATANDUVA  ...  45.0     0
4391301  MASCULINO      ITAQUAQUECETUBA  ...  46.0     0

[10 rows x 19 columns]

In [ ]:
# Conferindo dimensões
nr_linhas, nr_colunas = df.shape
print(f"dataset tem {nr_linhas} linhas")
print(f"dataset tem {nr_colunas} colunas")

dataset tem 4391302 linhas
dataset tem 19 colunas

In [ ]:
# Conferindo idades
df['Idade'].describe()

count    4.373615e+06
mean     4.093891e+01
std      1.762367e+01
min      0.000000e+00
25%      2.800000e+01
50%      4.000000e+01
75%      5.300000e+01
max      1.360000e+02
Name: Idade, dtype: float64

In [ ]:
# Mudando opções de formatação do pandas
# e conferindo idade novamente
pd.set_option('float_format', '{:f}'.format)
df['Idade'].describe()

count   4373615.000000
mean         40.938909
std          17.623671
min           0.000000
25%          28.000000
50%          40.000000
75%          53.000000
max         136.000000
Name: Idade, dtype: float64

In [ ]:
# identificando valores "faltantes" (NaN)
df['Diagnostico Covid19'].isna().value_counts()  # nenhum valor faltando >> False = 4.391.302

False    4391302
Name: Diagnostico Covid19, dtype: int64

In [ ]:
num_obitos = df['Obito'] == 1
df[num_obitos]
num_obitos.value_counts()

False    4240092
True      151210
Name: Obito, dtype: int64

In [ ]:
# Exercício 1)
# Identifique o número de pessoas que vieram a óbito

# \/ \/ \/ escreva sua solução aqui \/ \/ \/


print('O número de pessoas diagnosticadas com sintomas no Estado de SP que vieram a óbito foi *151210*.\n 4.240.092 são "0" ou não óbitos.')
print()


# /\ /\ /\ escreva sua solução aqui /\ /\ /\

O número de pessoas diagnosticadas com sintomas no Estado de SP que vieram a óbito foi *151210*.
 4.240.092 são "0" ou não óbitos.

In [ ]:
diagnostico = df['Diagnostico Covid19']

In [ ]:
diagnostico
diagnostico.value_counts()

CONFIRMADO    4391302
Name: Diagnostico Covid19, dtype: int64

In [ ]:
# Exercício 2)
# Identifique o número de pessoas que foram diagnosticadas com sintomas de covid e vieram a óbito.

# \/ \/ \/ escreva sua solução aqui \/ \/ \/
mascara_diagnostico = df['Diagnostico Covid19'] == 'CONFIRMADO'
mascara_obito = df['Obito'] == 1

masc_diagnostico_morte = mascara_diagnostico & mascara_obito
diagnostico_morte = df[masc_diagnostico_morte]
diagnostico_morte

diagnostico_morte.value_counts()

# /\ /\ /\ escreva sua solução aqui /\ /\ /\

Genero     Municipio   Asma      Diabetes  Cardiopatia  Doenca Hematologica  Doenca Hepatica  Doenca Neurologica  Doenca Renal  Imunodepressao  Obesidade  Pneumopatia  Puérpera  Síndrome De Down  Outros Fatores De Risco  Diagnostico Covid19  Data Inicio Sintomas  Idade      Obito
MASCULINO  SÃO PAULO   IGNORADO  IGNORADO  IGNORADO     IGNORADO             IGNORADO         IGNORADO            IGNORADO      IGNORADO        IGNORADO   IGNORADO     IGNORADO  IGNORADO          IGNORADO                 CONFIRMADO           20/04/2021            48.000000  1        6
                                                                                                                                                                                                                                                  10/03/2021            63.000000  1        5
                                                                                                                                                                                                                                                  13/03/2021            72.000000  1        5
FEMININO   SÃO PAULO   IGNORADO  IGNORADO  IGNORADO     IGNORADO             IGNORADO         IGNORADO            IGNORADO      IGNORADO        IGNORADO   IGNORADO     IGNORADO  IGNORADO          IGNORADO                 CONFIRMADO           10/03/2021            57.000000  1        5
MASCULINO  SÃO PAULO   IGNORADO  IGNORADO  IGNORADO     IGNORADO             IGNORADO         IGNORADO            IGNORADO      IGNORADO        IGNORADO   IGNORADO     IGNORADO  IGNORADO          IGNORADO                 CONFIRMADO           15/03/2021            63.000000  1        5
                                                                                                                                                                                                                                                                                           ..
           MOGI GUAÇU  NÃO       SIM       SIM          NÃO                  NÃO              NÃO                 NÃO           NÃO             NÃO        NÃO          NÃO       NÃO               NÃO                      CONFIRMADO           17/05/2021            51.000000  1        1
                                                                                                                                                                                                                                                  13/07/2020            82.000000  1        1
                                                                                                                                                                                                                                                  12/07/2020            66.000000  1        1
                                                                                                                                                                                                                                                  08/06/2021            63.000000  1        1
FEMININO   ADAMANTINA  IGNORADO  IGNORADO  IGNORADO     IGNORADO             IGNORADO         IGNORADO            IGNORADO      IGNORADO        IGNORADO   IGNORADO     IGNORADO  IGNORADO          IGNORADO                 CONFIRMADO           01/05/2021            35.000000  1        1
Length: 149365, dtype: int64

In [ ]:
print('O número de diagnosticados que vieram a óbito foi 149.365')

In [ ]:
# Exercício 3)
# Identifique a "taxa de mortalidade" de mulheres com menos de 30 anos

# \/ \/ \/ escreva sua solução aqui \/ \/ \/
mascara_fem = df['Genero'] == "FEMININO"

mascara_menor30 = df['Idade'] < 30

mascara_obito = df['Obito'] == 1

obitos_30menos_fem = mascara_fem & mascara_menor30 & mascara_obito
subconjunto_mulher_menor30_obitos = df[obitos_30menos_fem]
subconjunto_mulher_menor30_obitos.head(3)

#print('A taxa de mortalidade para mulheres com diagnóstico confirmado de Covid19, nesta faixa etária e para esta população da amostra é 0%, isto é 83638 (menos 1 NaN)')

# /\ /\ /\ escreva sua solução aqui /\ /\ /\

        Genero Municipio Asma  ... Data Inicio Sintomas     Idade Obito
91    FEMININO    AMPARO  NÃO  ...           18/07/2020 21.000000     1
1380  FEMININO    OSASCO  NÃO  ...           04/10/2020 17.000000     1
8579  FEMININO     BAURU  NÃO  ...           05/06/2021 23.000000     1

[3 rows x 19 columns]

In [ ]:
subconjunto_mulher_menor30_obitos.value_counts()

Genero    Municipio           Asma      Diabetes  Cardiopatia  Doenca Hematologica  Doenca Hepatica  Doenca Neurologica  Doenca Renal  Imunodepressao  Obesidade  Pneumopatia  Puérpera  Síndrome De Down  Outros Fatores De Risco  Diagnostico Covid19  Data Inicio Sintomas  Idade      Obito
FEMININO  SANTOS              IGNORADO  IGNORADO  IGNORADO     IGNORADO             IGNORADO         IGNORADO            IGNORADO      IGNORADO        IGNORADO   IGNORADO     IGNORADO  IGNORADO          IGNORADO                 CONFIRMADO           16/05/2021            0.000000   1        2
          ÁGUAS DE SÃO PEDRO  NÃO       NÃO       NÃO          NÃO                  NÃO              SIM                 NÃO           SIM             NÃO        NÃO          NÃO       NÃO               SIM                      CONFIRMADO           02/04/2021            28.000000  1        1
          ITAPIRA             NÃO       NÃO       NÃO          NÃO                  NÃO              NÃO                 NÃO           NÃO             NÃO        NÃO          NÃO       SIM               NÃO                      CONFIRMADO           24/02/2021            29.000000  1        1
          ITAPEVI             NÃO       NÃO       NÃO          NÃO                  NÃO              NÃO                 NÃO           NÃO             SIM        NÃO          NÃO       NÃO               NÃO                      CONFIRMADO           16/05/2021            25.000000  1        1
                                                  SIM          NÃO                  NÃO              NÃO                 SIM           SIM             NÃO        NÃO          NÃO       NÃO               SIM                      CONFIRMADO           01/12/2020            23.000000  1        1
                                                                                                                                                                                                                                                                                                  ..
          SOROCABA            NÃO       NÃO       NÃO          NÃO                  NÃO              NÃO                 NÃO           NÃO             NÃO        NÃO          NÃO       NÃO               SIM                      CONFIRMADO           02/03/2021            0.000000   1        1
                                                                                                                                                       IGNORADO   NÃO          NÃO       NÃO               SIM                      CONFIRMADO           06/03/2021            24.000000  1        1
                              IGNORADO  IGNORADO  SIM          IGNORADO             IGNORADO         IGNORADO            IGNORADO      IGNORADO        SIM        IGNORADO     IGNORADO  IGNORADO          IGNORADO                 CONFIRMADO           06/07/2021            26.000000  1        1
                                                  IGNORADO     IGNORADO             IGNORADO         IGNORADO            IGNORADO      SIM             IGNORADO   IGNORADO     IGNORADO  IGNORADO          SIM                      CONFIRMADO           10/07/2021            26.000000  1        1
          AGUAÍ               IGNORADO  IGNORADO  IGNORADO     IGNORADO             IGNORADO         IGNORADO            IGNORADO      IGNORADO        IGNORADO   IGNORADO     IGNORADO  IGNORADO          IGNORADO                 CONFIRMADO           02/05/2021            24.000000  1        1
Length: 1068, dtype: int64

In [ ]:
# 1068 mulheres com menos de 30 anos morreram de COVID19

# O número total de mulheres com menos de 30 anos com diagnostico de COVID19 É 

mascara_fem = df['Genero'] == "FEMININO"

mascara_menor30 = df['Idade'] < 30

mulher_menos30 = mascara_fem & mascara_menor30
total_mulher_menos30 = df[mulher_menos30]
total_mulher_menos30.value_counts()

Genero    Municipio   Asma      Diabetes  Cardiopatia  Doenca Hematologica  Doenca Hepatica  Doenca Neurologica  Doenca Renal  Imunodepressao  Obesidade  Pneumopatia  Puérpera  Síndrome De Down  Outros Fatores De Risco  Diagnostico Covid19  Data Inicio Sintomas  Idade      Obito
FEMININO  SÃO PAULO   IGNORADO  IGNORADO  IGNORADO     IGNORADO             IGNORADO         IGNORADO            IGNORADO      IGNORADO        IGNORADO   IGNORADO     IGNORADO  IGNORADO          IGNORADO                 CONFIRMADO           04/01/2021            23.000000  0        65
                                                                                                                                                                                                                                                 06/03/2021            27.000000  0        64
                                                                                                                                                                                                                                                 10/03/2021            29.000000  0        62
                                                                                                                                                                                                                                                 01/03/2021            24.000000  0        62
                                                                                                                                                                                                                                                                       29.000000  0        60
                                                                                                                                                                                                                                                                                           ..
          PINDORAMA   IGNORADO  IGNORADO  IGNORADO     IGNORADO             IGNORADO         IGNORADO            IGNORADO      IGNORADO        IGNORADO   IGNORADO     IGNORADO  IGNORADO          IGNORADO                 CONFIRMADO           11/08/2020            23.000000  0         1
                                                                                                                                                                                                                                                 11/10/2020            17.000000  0         1
                                                                                                                                                                                                                                                 12/08/2020            1.000000   0         1
                                                                                                                                                                                                                                                                       24.000000  0         1
          ADAMANTINA  IGNORADO  IGNORADO  IGNORADO     IGNORADO             IGNORADO         IGNORADO            IGNORADO      IGNORADO        IGNORADO   IGNORADO     IGNORADO  IGNORADO          IGNORADO                 CONFIRMADO           01/02/2021            27.000000  0         1
Length: 414196, dtype: int64

In [ ]:
# taxa de mortalidade nesta faixa etária 
taxa_mortalidade = (1068/414196)*100

print(f'O resultado da taxa de mortalidade é {taxa_mortalidade:.2f} %')

O resultado da taxa de mortalidade é 0.26 %